@using KolomietsExpertTestMVC.Entities
@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var context = ViewBag.Context as ExpertContext;
    var CountFilms = (int categoryId) =>
    {
        return context.FilmCategories.Where(fc => fc.CategoryId == categoryId).ToList().Count();
    };
}

<h1>Categories List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Films Count
            </th>
            <th>
                Child Level
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @CountFilms(item.Id)
            </td>
            <td>
                @context.CountCategoryLevel(item.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
